

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .book_room h1 {
        font-size: 28px;
    }
    .carousel-indicators {
        bottom: 17px;
    }
    .about_img {
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 5px !important;
    }
    .navigation .navbar-collapse {
        background: #0f1521;
        padding: 20px;
        margin-top: 56px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 9px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
}

@media (max-width: 575px) {
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    .header {
        height: 84px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 15px;
    }
    .book_now .online_book {
        margin-bottom: 20px;
    }
    .book_btn {
        padding: 5px 0;
    }
    .about .titlepage {
        max-width: inherit;
    }
    .about_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .navigation .navbar-collapse {
        background: #0f1521;
        padding: 20px;
       margin-top: -5px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        border: inherit;
        margin-top: -61px;
    }
    .testimonial_box {
        padding: 0px 19px 40px 20px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
    
    /*-- Footer Mobile Responsive --*/
    .footer {
        padding-top: 40px;
        margin-top: 60px;
    }
    
    .footer h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    ul.conta li {
        font-size: 14px;
        padding-bottom: 15px;
        display: flex;
        align-items: flex-start;
    }
    
    ul.conta li i {
        font-size: 18px;
        padding-right: 12px;
        flex-shrink: 0;
        margin-top: 2px;
    }
    
    ul.conta li.email-item {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    
    ul.conta li.email-item i {
        flex-shrink: 0;
        margin-top: 2px;
    }
    
    ul.conta li.email-item .email-link {
        word-break: break-all;
        font-size: 13px;
        line-height: 1.5;
        display: inline;
        flex: 1;
        min-width: 0;
    }
}



/* Responsive rules: Tablet and below (1024px) use offcanvas */
@media (max-width:1024px) {
    .main-nav {
        display: none
    }

    .menu-toggle {
        display: block
    }

    .header-inner {
        height: 64px
    }

    .brand-img {
        max-height: 48px
    }

    /* make offcanvas a bit narrower on tablets */
    .offcanvas {
        width: 320px
    }
}

@media (max-width:480px) {
    .offcanvas {
        width: 100%;
        right: -100%
    }

    .offcanvas.open {
        right: 0
    }
}

/* small polish */
@media (prefers-reduced-motion:reduce) {

    .offcanvas,
    .offcanvas-overlay,
    .nav-link::after {
        transition: none
    }
}